
.body{
  width: 100dvw;
  height: 100dvh;
}
.toggle{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.toggle_btn{
  margin: 10px;
  cursor: pointer;
}

.info{
  width: inherit;
  margin-top: 20px;
  @media (min-width: 400px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.stat {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
}

.average {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.statItem {
  width: 30%;
  // margin-bottom: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.character{
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 500px) {
    align-items: center;
    flex-direction: column;
    div{
      margin-top: 30px;
    }
  } 
}

/* -----에러 바운더리 디자인 --- */
.error_body{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_title { 
  margin-top: 10px;
  margin-bottom: 20px;
}

.error_text{
  width: 90%;
  text-align: center;
}

.error_btns{
  width: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  button{
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
}
/* -----전적 사이드 바 토글 --- */
.sidebar {
  position: fixed;
  top: 0;
  right: -80vw;
  width: 80vw;
  height: 100%;
  overflow-y: auto;
  background-color: #0a0a0a;
  transition: right 0.3s ease;
  border-radius: 5px;
  @media (max-width: 400px) {
    width: 90vw;
    right: -90vw;
  }
}

.sidebar.open {
  right: 0;
}

.closeBtn{
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

/* ----- 매칭 데이터 디자인 --- */

.matchBox {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.matchTop{
  display: flex;
  p{
    margin-left: 20px;
  }
}

.matchMiddle{
  display: flex;
  
}
.tacticalSkillsImage{
  background-color: rgb(59, 59, 59);
  border-radius: 5px;

}